body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-image: url(geometric-leaves.png);
    margin-bottom: 20px;
}
#empty{
    background-color: #d7cec7;
    grid-column-start: 2;
    grid-row-start: 2;
}
#header{
    background-color: #d7cec7;
    grid-column-start: 2;
    grid-row-start: 3;
}
#content{
    height: fit-content;
    text-align: center;
}
h1{
    display: inline-block;
    font-size: 80px;
    color: #565656;
    margin: 20px;
}

p{
    display: inline-block;
    font-size: 35px;
    color:#76323f;
    text-align: left;
    margin: 20px;
}


ul{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: white;
    text-align: center;
    border-bottom: 3px solid #76323f;
}
li{
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #76323f;
}
#left{
    float: left;
}

#profile{
    width: 350px;
    height:350px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 10;
}

#image1{
    position:-webkit-sticky; 
    position: sticky;
    top: 55px;
    width:100%;
    z-index: -1;
}

.scroll{
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 10;
    background-color: #d7cec7;
    z-index: -2;
}
#container{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 175px 175px 200px 500px 1000px 500px 1800px 500px 600px;
}

#aboutMe{
    background-color: #d7cec7;
    grid-column-start: 2;
    grid-row-start: 5;
}
.navBar{
    position: fixed;
    top:0;
    width: 100%;
    z-index: 11;
}

.header{
    text-align: center;
    display: block;
}

.flex{
    display:flex;
    flex-direction: row;
    align-items: center;
}


.mySlides{
    max-height: 600px;
    max-width: 90%;
    margin:auto;
    display:block;
}
.mySlides:hover{
    border-style: solid;
    border-width: 10px;
    border-color:#76323f;
    border-radius: 25px;
}

#projects{
    background-color: #d7cec7;
    grid-column-start: 2;
    grid-row-start: 7;
}

h2{
    margin: 20px;
    display: inline-block;
    font-size: 50px;
    color: #565656;
}

#spaceRanger{
    width:auto;
    height: 500px;
}
.video{
    margin:10px;
}
.video video{
    width:100%;
    height:100%;
}
.video:hover{
    border:#76323f;
    border-style: solid;
    border-width: 10px;
    border-radius: 25px;
}

.center{
    margin-left: auto;
    margin-right:auto;
    display:block;
}

.flexChild{
    flex: 1;
}

#zombie{
    width: 400px;
    height: auto;
}

#rock{
    width:400px;
    height: auto;
}

#ContactMe{
    grid-column-start: 2;
    grid-row-start: 9;
    background-color: #d7cec7;
}

.link{
    color: inherit;
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
}

#imageFinal{
    grid-column-start: 2;
    grid-row-start: 8;
    width:100%;
    display: none;
}

@media (max-width : 1011px){
    h1{
        font-size: 60px;
    }
    p{
        font-size: 25px;
    }
    h2{
        font-size: 45px;
    }
    #zombie{
        width: 300px;
    }
    #rock{
        width:350px;
    }
}

@media (max-width: 800px){
    h1{
        font-size: 45px;
    }
    p{
        font-size: 23px;
    }
    h2{
        font-size: 35px;
    }
    #zombie{
        width: 200px;
    }
    #rock{
        width:250px;
    }
    #profile{
        width: 250px;
        height: 250px;
    }
    #spaceRanger{
        height: 400px;
    }
    #container{
        grid-template-columns: 5% auto 5%;
    }
}
@media(max-width: 628px){
    h2{
        font-size: 25px;
    }
    p{
        font-size: 18px;
    }
    li{
        font-size: 18px;
        padding: 8px 10px;
    }
    #left{
        display: none;
    }

    .flex{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    #zombie{
        width: 300px;
    }
    #rock{
        width:300px;
    }

    .leftMargin{
        margin-left: 5px;
    }
    .rightMargin{
        margin-right: 5px;
    }
    #imageFinal{
        display: block;
    }
    .mySlides{
        max-height: 500px;
    }
}

